language: php

php:
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly

env:
  - 'DEPS=""'
  - 'DEPS="--prefer-stable --prefer-lowest"'

before_install:
  - 'composer selfupdate --no-interaction'

install:
  - 'composer update --no-interaction --dev --prefer-source $DEPS'

script:
  - './vendor/bin/phpunit -c "./test/phpunit.xml"'

notifications:
  email: false

matrix:
  allow_failures:
    - php: hhvm
    - php: hhvm-nightly
